@font-face {
    font-family: "Peinture Fraiche";
    src: url("Peinture Fraiche.ttf") format("truetype");
}

body,
input {
  font-family: "Roboto", helvetica;
}

.md-grid {
    max-width: 57rem;
}

/* There's typically some space at the top of each article 
   that we don't need, since we aren't showing h1 */
.md-content__inner:before {
  height: 0;
}

.md-content__inner {
  padding-top: 0;
}

/* Items in a list are typically too far apart */
.md-typeset ol li, .md-typeset ul li {
    margin-bottom: 5px;
}

.md-typeset {
  text-size-adjust: 100%;
  font-size: 1.5em;
  line-height: 1.4;
  color: #424242;
  font-weight: 100;
}

.md-typeset code {
  box-shadow: none;
  border: 1px solid #eee;
  color: #222;
  padding: 0 3px;
  background-color: transparent;
}

.md-typeset ol, .md-typeset ul {
    line-height: 1.3em;
}

/* Reduce distance between help-boxes */
.md-typeset .admonition, .md-typeset details {
  margin: 6px 0;
}

/* Remove padding from lists, it doesn't look good */
.md-typeset ol, .md-typeset ul {
  margin-left: 0;
}

.md-typeset .codehilite, .md-typeset .highlight {
  min-width: 50%;
  background: transparent;
  border: 1px solid #eee;
  margin-top: 0;
}

pre {
  color: #ccc !important;
}

.md-clipboard:before {
    color: rgb(200, 200, 200);
}

/* Hovering a link */
.md-nav__link:focus, .md-nav__link:hover {
  color: #86c8ef;
}

/* Default has some extra space here,
   which interfers with our use of background-color */
.md-nav__item:last-child {
  padding-bottom: 0px;
}

.codehilite:hover .md-clipboard:before,.md-typeset .highlight:hover .md-clipboard:before,pre:hover .md-clipboard:before {
    color: rgba(200, 200, 200, 0.54) !important
}

.codehilite code, .md-typeset .codehilite pre, .md-typeset .highlight code, .md-typeset .highlight pre {
  font-family: "Source Code Pro";
  font-size: 0.9em;
}

input, select, textarea{
    color: green;
}

.md-header[data-md-state] {
    box-shadow: none;
    border-bottom: 1px solid #f3f3f3;
}

.md-typeset a, .md-typeset a:before {
  color: #03a9f4;
}

.md-typeset h2 {
  font-family: "Peinture Fraiche";
  font-size: 5em;
  color: #222;
  line-height: 0.8;
}

[data-md-color-primary=white] .md-search__input {
    background-color: transparent;
    border: 1px solid #f3f3f3;
}

h2, h3, h4, b, strong {
    color: #333;
}

.md-nav__item.md-nav__item--active {
  background-color: #e4f3ff;
}

.md-nav__link {
  margin-top: 0; 
  padding-top: 4px;
  padding-bottom: 4px;
}

.md-typeset h1 {
  display: none;
}

.md-typeset h3, .md-typeset h4 {
  font-weight: bold;
}

.md-footer-copyright__highlight {
  display: none;
}

/* Hide left-sidebar header */
.md-nav__title--site {
  display: none;
}

.md-nav {
    font-size: .6rem;
    line-height: 1.3;
    color: #696969;
}

nav.md-nav.md-nav--primary {
    font-size: .65rem;
}

.md-footer {
  padding-top: 100px;
}

@media only screen and (min-width: 60em) {
  [data-md-toggle]:checked~.md-header .md-search__input+.md-search__icon, [data-md-toggle]:checked~.md-header .md-search__input::placeholder {
      color: rgba(0, 0, 0, .30);
  }

  .md-search__input+.md-search__icon, .md-search__input::placeholder {
      color: rgba(0, 0, 0, .30);
  }
}

@media only screen and (min-width: 76.25em) {
  .md-sidebar--primary .md-sidebar__inner {
      border-right: 1px solid rgba(0, 0, 0, .07);
  }

  .md-sidebar--secondary .md-sidebar__inner {
    border-left: 1px solid rgba(0, 0, 0, .07);
  }
}

[data-md-color-primary=white] .md-nav__link--active, [data-md-color-primary=white] .md-nav__link:active {
    color: #03a9f4;
}