/* Styling specifically for the landing page */

.vboxlayout {
  display: flex;
  flex-direction: column;
}

.hboxlayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#pypiBadge {
  padding-top: 5px;
}

.vboxlayout p {
  margin-top: 0;
  font-size: 1.3em;
  font-weight: 300;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.row-reverse {
  flex-direction: row-reverse;
}

.justify-left {
    justify-content: flex-start;
}

.justify-right {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.align-center {
  align-items: center;
}

.space {
    min-height: 100px;
    min-width: 100px;
}

.smallspace {
    min-height: 30px;
    min-width: 30px;
}

.auto-margin {
  margin: auto auto;
}

.stretch {
  flex-grow: 1;
}

.poster {
  box-shadow: 0 0 1.2rem rgba(0,0,0,.2), 0 0.2rem 0.4rem rgba(0,0,0,.2);
  border: 1px solid #777;
}

.md-typeset h2 {
  font-family: "Peinture Fraiche";
  font-size: 4.0em;
  color: #222;
  margin-top: 0;
  line-height: 1em;
}

.landing {
  display: none;
}

#title {
  font-family: "Peinture Fraiche";
  font-size: 6.0em;
  color: #222;
  margin-bottom: 0;
}

#landing {
  align-items: center;
}

#description {
  font-size: 1em;
  max-width: 420px;
  padding-right: 50px;
}

#conclusion {
  text-align: center;
}

[data-md-color-primary] .md-typeset a.button {
  font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
  max-width: 400px;
  min-width: 120px;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  border-radius: 3px;
  margin: 5px;
  margin-left: 0;
  margin-right: 10px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #eee;
  transition: background 1s cubic-bezier(0.1, 0.7, 0.1, 1);
}

/* Little pen icon, to edit the page*/
.md-content__icon {
    display: none;
}

.button:active {
  position: relative;
  top: 6px;
}

.green {
  background: #5aa926;
  box-shadow: 0px 6px #418624;
}

.green:active {
  background: #79c15c;
  box-shadow: 0px 0px #79c15c;
}

.green:hover {
  background: #79c15c;
}

.blue {
  background: #3498db;
  box-shadow: 0px 6px #2980b9;
}

.blue:active {
  background: #2980b9;
  box-shadow: 0px 0px #2980b9;
}

.blue:hover {
  background: #4BA4DE;
}

.red {
  box-shadow: 0px 6px #c0392b;
  background: #e74c3c;
}

.red:active {
  box-shadow: 0px 0px #c0392b;
  background: #c0392b;
}

.red:hover {
  background: #E55E50;
  position: relative;
}

.md-typeset a {
    color: #0070e6;
    font-weight: 400;
}

.md-typeset .codehilite, .md-typeset .highlight {
  min-width: 50%;
}

.codehilite code, .md-typeset .codehilite pre, .md-typeset .highlight code, .md-typeset .highlight pre {
  font-family: "Source Code Pro";
  font-size: 1.11em;
}

/* Smaller width */
@media only screen and (max-width: 1219px) {
  .landing {
    display: inherit;
  }
}

/* Mobile */
@media only screen and (max-width: 60em) {
  .hboxlayout {
    flex-direction: column;
    justify-content: center;
    align-content: start;
    align-items: center;
  }

  .vboxlayout {
    align-items: center;
  }

  .vboxlayout p {
    width: 75%;
  }

  .md-typeset img {
    margin: 0 auto;
  }

  [data-md-color-primary] .md-typeset a.button {
    margin: 5px auto;
  }

  #description {
    padding: 0;
    width: inherit;
  }

  .container {
    margin: 0px auto;
    padding-top: 20px;
    text-align: center;
  }

  h2 {
    padding-top: 100px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .space {
    min-height: 0px;
  }
}