* {
    outline: none;
}

Window {
    min-width: 580px;
    min-height: 300px;
    height: 350px;
}

Window #header {
    background: white;
    border-bottom: 1px solid #ccc;
}

Window #pages QTableView {
    border: 0;
    margin-bottom: 5px;
}

Window #apps {
    min-width: 300px;
}

Window #loading QLabel {
    font-size: 16px;
}

Window App #tools {
    max-height: 100px;
    min-height: 100px;
}

Window App #label {
    font-size: 13px;
}

Window App QAbstractItemView {
    max-height: 100px;
}

QHeaderView {
    font-weight: bold;
}

QHeaderView {
    qproperty-defaultAlignment: AlignLeft;
    font-weight: bold;
}

QMenu QLabel {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

QHeaderView::section {
    border: 0;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

AbstractDockWidget #dockHelp {
    background: transparent;
    border: none;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

Window #header QLabel {
    padding: 0;
}

Window #header QComboBox {
    padding: 0;
}

Window #header #projectBtn {
    background: transparent;
    border: 1px solid #aaa;
    padding: 0;
}

Window #body {
    background: white;
}

FullCommand QLineEdit {
  color: rgba(0, 0, 0, 0.2);
}

FullCommand QLineEdit:hover {
  color: #333;
}

FullCommand QComboBox {
    background: transparent;
}

Window #body QLineEdit {
    border: 1px solid #ddd;
    padding: 3px;
  margin: 3px;
}

LineEditWithCompleter {
    background: none;
    border: none;

    /* Leave room for hover */
    padding-bottom: 2px;
}

/* Underline on hover */
LineEditWithCompleter:hover {
    border-bottom: 2px solid steelblue;
    padding: 0px;
}

Window #header QPushButton[type=toggle] {
}

Window #logo {
    max-width: 32px;
    max-height: 32px;

    padding: 8px;
}

Console {
    min-width: 200px;
    min-height: 100px;
}

Options QTableView {
    background: transparent;
    border: none;
}

Options #label {
    font-size: 15px;
}

QToolBar {
    border: none;   
}

QToolButton {
    min-height: 35px;
}

QTableView {
    /*background: transparent;*/
    /*border: none;*/
}

#launchBtn {
    height: 30px;
    margin: 0;
    padding: 0;
}

#launchOptionsBtn {
    width: 30px;
    max-height: 30px;
    min-height: 30px;
    min-width: 30px;
}

#busyIndicator {
    min-height: 5px;
    max-height: 5px;
    background: #ef6363;
}

QTableView {
    selection-background-color: #ddd;
    selection-color: #111;
}

QTableView::item:selected {
    border: none;
}

QTableView::item:selected:!active {
    background: transparent;
}

QTableView::item:selected:active, QTableView::item:selected:!focus {
    background: #add9f2;
}

QFrame {
    border: none;
}